@import "./mixins.scss";

.type {
    background: linear-gradient(180deg, rgba(44, 82, 216, 0) 0%, rgba(44, 82, 216, 0.4) 100%), #54D1ED;
    background-blend-mode: multiply, normal;
    box-shadow: 0px 8px 20px rgba(197, 166, 236, 0.05);
    border-radius: 20px;
    height: 230px;
    margin: 20px 0;

    &__profile {
        display: flex;
        position: relative;
        padding: 1.5625rem;
        height: calc(100% - 165px);

        span {
            @include subtitle-white();
            word-break: break-word;
            width: 80px;
        }

        img {
            position: absolute;
            right: 0;
            top: -30px;
        }
    }

    &__balance {
        display: flex;
        flex-flow: column nowrap;
        padding: 1.5625rem;
        

        span {
            @include normal-white();
        }

        p {
            color: var(--white);
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 49px;
            margin: 0;
        }
    }
}